/*
 *  Hacks/bug workarounds
 */

/* IE9->11 "support" HTML5 and arbitrary tags, and yet fail on <main>. Classic. */
main {
  display: block;
}

/*
 *  Fonts
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('../fonts/libre-baskerville-v4-latin-regular.woff2') format('woff2'),
       url('../fonts/libre-baskerville-v4-latin-regular.woff') format('woff'); /* <= IE 11 and Safari 9.1 */
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('../fonts/libre-baskerville-v4-latin-italic.woff2') format('woff2'),
       url('../fonts/libre-baskerville-v4-latin-italic.woff') format('woff'); /* <= IE 11 and Safari 9.1 */
}

@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v13-latin-regular.woff') format('woff'); /* <= IE 11 and Safari 9.1 */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v13-latin-italic.woff2') format('woff2'),
       url('../fonts/open-sans-v13-latin-italic.woff') format('woff'); /* <= IE 11 and Safari 9.1 */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v13-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-v13-latin-700.woff') format('woff'); /* <= IE 11 and Safari 9.1 */
}

/*
 *  Font Icons
 */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2?25547933') format('woff2'),
       url('../fonts/fontello.woff?25547933') format('woff'); /* <= IE 11 and Safari 9.1 */
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wrench::before, .badge-wrench::before { content: '\e800'; }
.icon-clock::before, .badge-clock::before { content: '\e801'; }
.icon-cogs::before, .badge-cogs::before { content: '\e802'; }
.icon-pencil::before, .badge-pencil::before { content: '\e803'; }
.icon-bullhorn::before, .badge-bullhorn::before { content: '\e804'; }
.icon-users::before, .badge-users::before { content: '\e805'; }
.icon-book::before, .badge-book::before { content: '\e806'; }
.icon-right-open::before, .badge-right-open::before { content: '\e807'; }
.icon-globe::before, .badge-globe::before { content: '\e808'; }
.icon-glass::before, .badge-glass::before { content: '\e809'; }
.icon-upload::before, .badge-upload::before { content: '\e80a'; }
.icon-flask::before, .badge-flask::before { content: '\f0c3'; }
.icon-list::before, .badge-list::before { content: '\f0ca'; }
.icon-exchange::before, .badge-exchange::before { content: '\f0ec'; }
.icon-download-cloud::before, .badge-download-cloud::before { content: '\f0ed'; }
.icon-upload-cloud::before, .badge-upload-cloud::before { content: '\f0ee'; }
.icon-form::before, .badge-form::before { content: '\f0f6'; }
.icon-laptop::before, .badge-laptop::before { content: '\f109'; }
.icon-keyboard::before, .badge-keyboard::before { content: '\f11c'; }
.icon-terminal::before, .badge-terminal::before { content: '\f120'; }
.icon-code::before, .badge-code::before { content: '\f121'; }
.icon-unlink::before, .badge-unlink::before { content: '\f127'; }
.icon-linux::before, .badge-linux::before { content: '\f17c'; }
.icon-university::before, .badge-university::before { content: '\f19c'; }
.icon-database::before, .badge-database::before { content: '\f1c0'; }
.icon-share::before, .badge-share::before { content: '\f1e0'; }
.icon-secret::before, .badge-secret::before { content: '\f21b'; }
.icon-hash::before, .badge-hash::before { content: '\f292'; }
.icon-percent::before, .badge-percent::before { content: '\f295'; }

/*
 *  Element overrides
 */
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.8em;
  margin: 0 auto;
  width: 92%;
}
@media screen and (min-width: 600px) {
  body { width: 70%; }
}

blockquote {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-left: 10px solid #ccc;
  margin: 1.5em auto;
  max-width: 40em;
  padding: 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  letter-spacing: -0.025em;
}
footer {
  line-height: 1.2em;
  text-align: center;
}
@media screen and (max-width: 500px) {
  footer .break { display: block; }
}
