/*
 *  Hacks/bug workarounds
 */

/* IE9->11 "support" HTML5 and arbitrary tags, and yet fail on <main>. Classic. */
main {
  display: block;
}

/*
 *  Fonts
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('../fonts/libre-baskerville-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/libre-baskerville-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('../fonts/libre-baskerville-v4-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/libre-baskerville-v4-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
 *  Font Icons
 */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2?43006045') format('woff2'),
       url('../fonts/fontello.woff?43006045') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wrench::before, .badge-wrench::before { content: '\e800'; } /* '' */
.icon-clock::before, .badge-clock::before { content: '\e801'; } /* '' */
.icon-cogs::before, .badge-cogs::before { content: '\e802'; } /* '' */
.icon-pencil::before, .badge-pencil::before { content: '\e803'; } /* '' */
.icon-bullhorn::before, .badge-bullhorn::before { content: '\e804'; } /* '' */
.icon-users::before, .badge-users::before { content: '\e805'; } /* '' */
.icon-book::before, .badge-book::before { content: '\e806'; } /* '' */
.icon-right-open::before, .badge-right-open::before { content: '\e807'; } /* '' */
.icon-globe::before, .badge-globe::before { content: '\e808'; } /* '' */
.icon-flask::before, .badge-flask::before { content: '\f0c3'; } /* '' */
.icon-exchange::before, .badge-exchange::before { content: '\f0ec'; } /* '' */
.icon-laptop::before, .badge-laptop::before { content: '\f109'; } /* '' */
.icon-code::before, .badge-code::before { content: '\f121'; } /* '' */
.icon-linux::before, .badge-linux::before { content: '\f17c'; } /* '' */
.icon-university::before, .badge-university::before { content: '\f19c'; } /* '' */
.icon-share::before, .badge-share::before { content: '\f1e0'; } /* '' */
.icon-secret::before, .badge-secret::before { content: '\f21b'; } /* '' */


/*
 *  Element overrides
 */
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.8em;
  margin: 0 auto;
  width: 92%;
}
@media screen and (min-width: 600px) {
  body { width: 70%; }
}

blockquote {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-left: 10px solid #ccc;
  margin: 1.5em auto;
  max-width: 40em;
  padding: 0.5em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  letter-spacing: -0.025em;
}
footer {
  text-align: center;
}

#noscript {
  font-size: 16px;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 50vw;
}
@media screen and (max-width: 600px) {
  #noscript {
    max-width: 90vw;
  }
}
