/*
 *  Hacks/bug workarounds
 */

/* IE9->11 "support" HTML5 and arbitrary tags, and yet fail on <main>. Classic. */
main {
  display: block;
}

/*
 *  Element Overrides
 */

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #555;
  margin: 0 0 2em 0; /* bottom = footer height */
}

/*
 *  Styling
 */

#content {
  background: #FFF;
  border-radius: 0.5em;
  float: right;
  line-height: 26px;
  margin-bottom: 70px;
  padding: 40px;
  width: 500px;
}

#site-footer {
  background: #EEE;
  bottom: 0;
  border-top: 1px dotted #999;
  height: 2em;
  margin-top: 40px;
  padding: 35px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
#site-footer p {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
