/*
 *  Hacks/bug workarounds
 */

/* IE9->11 "support" HTML5 and arbitrary tags, and yet fail on <main>. Classic. */
main {
  display: block;
}

/*
 *  Fonts
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('../fonts/libre-baskerville-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/libre-baskerville-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('../fonts/libre-baskerville-v4-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/libre-baskerville-v4-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
 *  Element overrides
 */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, .timeline-title {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: -0.025em;
}
footer {
  text-align: center;
}
main {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
  width: 70vw;
}

#noscript {
  font-size: 16px;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 50vw;
}
@media screen and (max-width: 600px) {
  #noscript {
    max-width: 90vw;
  }
}

/*
 *  Styling
 */
#banner_image {
  min-height: 80vh;
  background-image: url('../img/cigar_man_mobile.jpg');
  background-size: cover;
}
@media screen and (min-width: 480px) {
  #banner_image {
    background-image: url('../img/cigar_man.jpg');
  }
}
@media screen and (max-aspect-ratio: 8/9) {
  #banner_image {
    min-height: 50vh;
  }
}

#banner #hook {
  text-align: center;
}
#banner #hook h1 {
  font-size: 7vh;
  line-height: 7vh;
  margin: 20px 0;
}
#banner #hook a#tell_us {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5em;
  text-align: center;
}
#banner p {
  margin-top: 20px;
}

p.feature_warning {
  padding-bottom: 20px;
}

/*
 *  Timeline CSS
 */

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.6em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999;
  z-index: 100;
  border-radius: 50%;
}

.timeline-badge.success {
  background-color: #3f903f !important;
  transition: 2s;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
  transition: 2s;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
  font-size: 1.5em;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

/* When the screen is narrow, use full width, and only show items via left side */
@media screen and (min-width: 600px) {
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }

  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
@media screen and (max-width: 600px) {
  .timeline:before {
    left: 90%;
  }
  .timeline > li > .timeline-badge {
    left: 90%;
  }
  .timeline > li > .timeline-panel {
    width: 82%;
  }
}

/*
 *  Animations
 *  Credit to Animate.css
 */
@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
