/*
 *  Element overrides
 */

body {
  margin: 0;
  width: 100%;
}

main {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 0 0 4%;
}
@media screen and (min-width: 600px) {
  main { margin: 0 4%; }
}
@media screen and (min-width: 1000px) {
  main { margin: 0 auto; width: 70em; }
}

input, select {
  background: white;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 1.5em;
  max-width: 100%;
  padding: 0.3em 0.4em;
}
input[type='text'], select {
  width: 20em;
}
input[type='number'] {
  width: 4em;
}
input[list] {
  margin-bottom: 1em;
}

/*
 *  Styling
 */
a.button, a[role='button'] {
  border: 1px solid #ddd;
  border-radius: 0.3em;
  color: #333;
  cursor: pointer;
  padding: 0.4em;
}
a.button::after, a[role='button']::after {
  content: unset; /* suppress underlining effect */
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-attachment: fixed;
  background-image: url('../img/cigar_man_mobile.jpg');
  background-size: cover;
  height: 100vh;
}
@media screen and (min-width: 641px), screen and (min-height: 641px) {
  header { background-image: url('../img/cigar_man.jpg'); }
}
@media screen and (max-aspect-ratio: 8/9) {
  header { background-position: 50%; }
}

header h1 {
  background-color: rgba(94, 233, 247, 0.8);
  border-radius: 1vmin;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 10vmin;
  font-style: italic;
  line-height: 9vmin;
  margin: 0 3vw;
  padding: 4vmin;
  text-align: center;
  text-shadow: 0px 0px 25px #777;
}
header a#tell_us {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  margin: 2vh 0 25vh 0;
  padding: 0.5em;
  text-align: center;
  transition: all .2s linear;
}
header a#tell_us:hover, header a#tell_us:active {
  margin-top: 2.5vh;
  transform: scale(1.4);
}
header p {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1vh 0 0 0;
  padding: 0.5vh 0;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 500px) {
  header .break { display: block; }
}

noscript {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1vmin;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0 15%;
  padding: 0 5%;
  position: absolute;
  text-align: center;
  top: 1vh;
  width: 60vw;
}
noscript h1 {
  border-bottom: 3px solid #f00;
  line-height: 1.5em;
}
noscript p {
  margin-left: auto; margin-right: auto;
  max-width: 35em;
}

p.feature_warning {
  padding-bottom: 20px;
}

[class^="badge-"]::before, [class*=" badge-"]::before {
  background-color: #999;
  border-radius: 50%;
  color: #fff;
  font-family: "fontello";
  font-size: 1.6em;
  height: 50px;
  line-height: 50px;
  margin: -0.2em 0 0 -25px;
  position: absolute; right: 1%;
  text-align: center;
  transform: translateY(-0.3em);
  transition: all 1s ease-in-out;
  width: 50px;
}
@media screen and (min-width: 600px) { /* side-by-side view */
  [class^="badge-"]::before, [class*=" badge-"]::before {
    left: 50%; right: auto;
  }
}
.badge-success::before { background-color: #3f903f !important; }
.has-error::before { background-color: #d9534f !important; }

.timeline {
  background: linear-gradient(90deg, #eee 3px, white 1px);
  background-position: 100% 0;
  background-repeat: repeat-y;
  background-size: calc(26.5px + 1%); /* width of badge + width of line */
  margin: 2em 0;
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 600px) { /* side-by-side view */
  .timeline { background-size: calc(50% + 1.5px); }
}

.timeline .tl-panel {
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  display: none;
  margin-bottom: 20px;
  margin-right: calc(65px + 1%); /* badge width + triangle width */
  padding: 1.3em;
  transition: all 0.3s linear;
}
.timeline .tl-panel.visible {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
}
.timeline .tl-panel h2::before {
  border: 15px solid transparent;
  border-left-color: #ddd;
  content: " ";
  pointer-events: none;
  position: absolute; right: calc(35px + 1%);
}
@media screen and (min-width: 600px) { /* side-by-side view */
  .timeline .tl-panel { margin-right: calc(50% + 40px); }
  .timeline .tl-panel.inverted {
    margin-left: calc(50% + 40px);
    margin-right: unset;
  }
  .timeline .tl-panel h2::before { left: calc(50% - 40px); right: auto; }
  .timeline .tl-panel.inverted h2::before {
    border-left-color: transparent;
    border-right-color: #ddd;
    left: calc(50% + 10px);
  }
}

.timeline h2 {
  margin: 0;
  font-size: 1.5em;
}

.timeline h2 > p {
  margin: 0.3em 0 1em 0;
}

.timeline .checkboxes label {
  display: block;
  margin-left: 20px;
}
.timeline .checkboxes input[type='checkbox'] {
  margin-left: -20px;
}
.timeline .checkboxes input[type='checkbox'] + input[type='text'] {
  margin-bottom: 1em;
  max-width: 94%;
}

.has-error {
  color: #a94442;
}
.has-error input, .has-error select {
  border-color: #a94442;
}

.error-box {
  margin-top: 0.3em;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
